/* Linhas winner 1 */

.linha_division_next_stage_winner1{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 47.7%;
    left: 36.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_division_next_stage_winner1b{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 44.3%;
    left: 36.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_next_stage_winner1{
    position: absolute;
    width: 2.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 42.6%;
    left: 37%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_next_stage_winner1b{
    position: absolute;
    width: 2.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 49.2%;
    left: 37%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_winner_meio1{
    position: absolute;
    width: 7.5%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 45.9%;
    left: 29.5%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  
  .linha_after_winner1{
    position: absolute;
    width: 4%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 49.8%;
    left: 27.4%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_winner2{
    position: absolute;
    width: 4%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 42.5%;
    left: 27.4%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_intermedio_winner1{
    position: absolute;
    width: 2.5%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 38.6%;
    left: 26.9%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_winner1{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 37%;
    left: 26%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  
  .linha_after_close_winner2{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 40%;
    left: 26%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_winner1{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 35.4%;
    left: 24.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_winner2{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 41.8%;
    left: 24.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_intermedio_winner1b{
    position: absolute;
    width: 2.5%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 53.5%;
    left: 26.9%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_winner1b{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 52%;
    left: 26%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_winner2b{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 55%;
    left: 26%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_winner1b{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 50.4%;
    left: 24.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_winner2b{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 56.6%;
    left: 24.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  /* Linhas winner 2 */

  .linha_meio_winner2{
    position: absolute;
    width: 9.15%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 45.9%;
    left: 63.4%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha1_close_winner2{
    position: absolute;
    width: 2.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 42.9%;
    left: 60.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close_winner2{
    position: absolute;
    width: 2.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 49.3%;
    left: 60.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close_winner2{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 44.3%;
    left: 62.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close_winner2{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 47.7%;
    left: 62.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  /* Close WInner 2 */

  .linha1_close2_winner2{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 42.9%;
    left: 72.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close2_winner2{
    position: absolute;
    width: 2.55%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 49.3%;
    left: 72.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close2_winner2{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 44.3%;
    left: 71.75%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close2_winner2{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 47.7%;
    left: 71.75%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  /* # Linhas Loser 1 */

  .linha_meio_loser1_top8{
    position: absolute;
    width: 6.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 74.5%;
    left: 20.9%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha1_close_loser1{
    position: absolute;
    width: 1.9%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 72.4%;
    left: 18.9%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close_loser1{
    position: absolute;
    width: 1.9%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 76.9%;
    left: 18.9%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close_loser1{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 75.6%;
    left: 20.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close_loser1{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 73.55%;
    left: 20.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  /* Close Loser 1 */

  
  .linha1_close2_loser1{
    position: absolute;
    width: 1.8%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 72.4%;
    left: 27.05%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close2_loser1{
    position: absolute;
    width: 1.8%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 76.9%;
    left: 27.05%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close2_loser1{
    position: absolute;
    width: 1.2%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 75.7%;
    left: 26.4%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close2_loser1{
    position: absolute;
    width: 1.2%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 73.7%;
    left: 26.4%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

    /* # Linhas Loser 2 */

    .linha_meio_loser2{
        position: absolute;
        width: 6.1%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(0deg);
        top: 86%;
        left: 20.9%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .linha1_close_loser2{
        position: absolute;
        width: 1.9%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(0deg);
        top: 84%;
        left: 18.9%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .linha2_close_loser2{
        position: absolute;
        width: 1.9%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(0deg);
        top: 88.2%;
        left: 18.9%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .traço1_close_loser2{
        position: absolute;
        width: 1.1%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(90deg);
        top: 85.0%;
        left: 20.2%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .traço2_close_loser2{
        position: absolute;
        width: 1.1%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(90deg);
        top: 87%;
        left: 20.2%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      /* Close Loser 2 */
    
      
      .linha1_close2_loser2{
        position: absolute;
        width: 1.8%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(0deg);
        top: 84%;
        left: 27.05%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .linha2_close2_loser2{
        position: absolute;
        width: 1.8%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(0deg);
        top: 88.2%;
        left: 27.05%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .traço1_close2_loser2{
        position: absolute;
        width: 1.2%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(90deg);
        top: 85.2%;
        left: 26.4%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }
    
      .traço2_close2_loser2{
        position: absolute;
        width: 1.2%;
        height: 0px;
        border: 2px solid white;
        transform: rotate(90deg);
        top: 87.15%;
        left: 26.4%;
        box-shadow: rgb(79, 235, 7) 1px 0 10px;
      }

          /* # Linhas Loser 3 */

    .linha_division_next_stage_loser1{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 79.3%;
    left: 52.25%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_division_next_stage_loser1b{
    position: absolute;
    width: 1.2%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 81.5%;
    left: 52.2%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_next_stage_loser1{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 78.2%;
    left: 53%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_next_stage_loser1b{
    position: absolute;
    width: 1.6%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 82.6%;
    left: 53%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .linha_loser_meio1{
    position: absolute;
    width: 2.9%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 80.3%;
    left: 49.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  
  .linha_after_loser1{
    position: absolute;
    width: 2.9%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 83.1%;
    left: 48.3%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_loser2{
    position: absolute;
    width: 2.9%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 77.5%;
    left: 48.3%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_intermedio_loser1{
    position: absolute;
    width: 3%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 74.5%;
    left: 46.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_loser1{
    position: absolute;
    width: 1.15%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 73.55%;
    left: 46%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  
  .linha_after_close_loser2{
    position: absolute;
    width: 1.15%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 75.6%;
    left: 46%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_loser1{
    position: absolute;
    width: 1.75%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 72.4%;
    left: 44.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_loser2{
    position: absolute;
    width: 1.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 76.65%;
    left: 44.85%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_intermedio_loser1b{
    position: absolute;
    width: 3%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 86%;
    left: 46.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_loser1b{
    position: absolute;
    width: 1.15%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 85%;
    left: 46%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_after_close_loser2b{
    position: absolute;
    width: 1.2%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 87.15%;
    left: 46%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_loser1b{
    position: absolute;
    width: 1.75%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 83.8%;
    left: 44.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }
  
  .linha_close_top_loser2b{
    position: absolute;
    width: 1.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 88.2%;
    left: 44.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  /* # Linhas Loser 4 */

  .linha_meio_loser4{
    position: absolute;
    width: 6.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 80.25%;
    left: 72.5%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha1_close_loser4{
    position: absolute;
    width: 1.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 78%;
    left: 70.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close_loser4{
    position: absolute;
    width: 1.7%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 82.6%;
    left: 70.6%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close_loser4{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 79.2%;
    left: 71.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close_loser4{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 81.5%;
    left: 71.8%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  /* Close Loser 4 */

  
  .linha1_close2_loser4{
    position: absolute;
    width: 1.8%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 78%;
    left: 78.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .linha2_close2_loser4{
    position: absolute;
    width: 1.8%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(0deg);
    top: 82.6%;
    left: 78.7%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço1_close2_loser4{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 79.2%;
    left: 78.1%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }

  .traço2_close2_loser4{
    position: absolute;
    width: 1.1%;
    height: 0px;
    border: 2px solid white;
    transform: rotate(90deg);
    top: 81.3%;
    left: 78.1%;
    box-shadow: rgb(79, 235, 7) 1px 0 10px;
  }