/* AQUI COMEÇA AS CLASSES PARA O TOP 8 VIDEO FUNDO */

.div_fundo_video{
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1920px;
    min-height: 1080px;
  }
  
  .fundo_video {
    width: 100%;
    height:100%;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    }
  
  /* Centered text */
  .centered_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    border-bottom: 0;
    height:100%;
    width: 100%;
    overflow: hidden;
    
  }
  
  /* Winner Semi */
  
  .div_winner_a1{
    position: relative;
    width: 21.05%;
    height: 5%;
    
    top: 32.9%;
    left: 3.2%;
    display: flex;
    
    
  }
  
  .div_winner_a2{
    position: relative;
    width: 21.05%;
    height: 5%;
   
    top: 34.2%;
    left: 3.2%;
    display: flex;
  }
  
  .div_winner_b1{
    position: relative;
    width: 21.05%;
    height: 5%;
    
    top: 37.7%;
    left: 3.2%;
    display: flex;
  }
  
  .div_winner_b2{
    position: relative;
    width: 21.05%;
    height: 5%;
    
    top: 39.2%;
    left: 3.2%;
    display: flex;
  }
  
  /* Winner FINAL */
  
  .div_winner_final_a1{
    position: relative;
    width: 21%;
    height: 4.4%;
    
    top: -22.5%;
    left: 39.7%;
    display: flex;
  }
  
  .div_winner_final_a2{
    position: relative;
    width: 21%;
    height: 4.4%;
    
    top: -20.5%;
    left: 39.7%;
    display: flex;
  }
  
  /* Grand FINAL */
  
  .div_grand_final_a1{
    position: relative;
    width: 21%;
    height: 4.4%;
    
    top: -31.4%;
    left: 75.3%;
    display: flex;
  }
  
  .div_grand_final_a2{
    position: relative;
    width: 21%;
    height: 4.4%;
    
    top: -29.2%;
    left: 75.3%;
    display: flex;
  }
  
  /* Loser Round 1 */
  
  .div_loser_round1_a1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 50.6%;
    left: 3.2%;
    display: flex;
  }
  
  .div_loser_round1_a2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 51.7%;
    left: 3.2%;
    display: flex;
  }
  
  .div_loser_round1_b1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 55%;
    left: 3.2%;
    display: flex;
  }
  
  .div_loser_round1_b2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 56%;
    left: 3.2%;
    display: flex;
  }
  
  /* Losers QUARTER FINAL */
  
  .div_loser_quarter_a1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 36.2%;
    left: 29%;
    display: flex;
  }
  
  .div_loser_quarter_a2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 37.2%;
    left: 29%;
    display: flex;
  }
  
  .div_loser_quarter_b1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 40.7%;
    left: 29%;
    display: flex;
  }
  
  .div_loser_quarter_b2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 41.4%;
    left: 29%;
    display: flex;
  }
  
  /* Losers SEMI FINAL */
  
  .div_loser_semi_a1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 27.6%;
    left: 54.8%;
    display: flex;
  }
  
  .div_loser_semi_a2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 28.6%;
    left: 54.8%;
    display: flex;
  }
  
  /* Losers FINAL */
  
  .div_loser_final_a1{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 20.5%;
    left: 80.7%;
    display: flex;
  }
  
  .div_loser_final_a2{
    position: relative;
    width: 15.7%;
    height: 3.6%;
    
    top: 21.4%;
    left: 80.7%;
    display: flex;
  }
  
  /* Nomes e Scores */
  
  
  .div_name_jogador{
  
    display: flex;
    text-transform: uppercase;
    width: 80%;
    height: 100%;
    /* border: 1px solid blue; */
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    letter-spacing: 2.5px;
    font-family: "CustomFont";
    white-space: nowrap;
    
  }
  
  .div_score_jogador{
    display: flex;
    width: 20%;
    height: 100%;
    /* border: 1px solid green; */
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    letter-spacing: 2px;
    
    
  }
  
  .name_on_loser{
    font-size: 12;
    
  }
  .score_partida{
    font: 15px;
    color: white;
    width: 100%;
    
  }
  
  .win_name{
    font-weight: bolder;
    text-shadow: rgb(79, 235, 7) 1px 0 10px;
    
  }
  
  .text_animado{
    /* font-size: 0px; */
    height: 0%;
  }
  
  .linha_animado{
    
    opacity: 0;
  }

  .name_to_long{
    font-size: 22;
  }

  .name_to_extra_long{
    position: relative;
    font-size: 22;
    overflow: visible ;
    justify-content: left;
    left: 100%;
  
  }

  .loser{
    opacity: 0.70;
  }
  
  .fitname{
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 1px;
    font-weight: normal;
  }

  /* Fontes */
  
  @font-face {
    font-family: "CustomFont";
    src: url("../fonts/Gotham-Font/Gotham-Black.otf");
  }